<!--
  Generated template for the CommentProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Comentario de producto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-card>
    <ion-list>
	  <ion-card class="cardList" *ngFor="let comment of comments">{{comment.desc_comment}}
		<ion-buttons end>
			 <button ion-button icon-only *ngIf="comment.myComment" (click)="editComment(comment)">
				<ion-icon  name="create"></ion-icon>
			 </button>
			 <button ion-button icon-only *ngIf="comment.optionDelete || comment.myComment" (click)="deleteComment(comment)">
				<ion-icon  name="trash"></ion-icon>
			 </button>
		</ion-buttons>
	  </ion-card>
	</ion-list>
	</ion-card>
  <ion-item *ngIf="textarea">
    <ion-label class="label" floating>Descripcion</ion-label>
    <ion-textarea rows="2" #desc_newComment></ion-textarea>
  </ion-item>
  
  <div>
	<button ion-button block *ngIf="add" (click)="createComment()">+</button>
  </div>
  <div>
	<button ion-button block (click)="addComment()">Guardar comentario</button>
  </div>
</ion-content>
